.container{
    .signup.payment{
        .middle{
            position: relative;
            background: $darkblue;
            .v-card__text{
                padding: 105px 70px;
                @media screen and (min-width: 960px) and (max-width: 1263px){
                    padding: 20px;
                }
                @media screen and (max-width: 959px){
                    position: relative;
                    transform: none;
                    left: 0;
                    top: 0;
                    padding: 30px;
                } 
                h1{
                    color: $skincolor;
                    font-weight: normal;
                    font-size: 22px;
                    font-family: 'Avenir LT Std 65 Medium';
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        font-family: 'Avenir LT Std 65 Medium';
                        color: white;
                        span{
                            padding: 0 0 15px;
                            vertical-align: top;
                            font-size: 14px;
                            display: inline-block;
                            width: 80%;
                        }
                        i{
                            color: inherit;
                            margin-right: 20px;
                            font-size: 16px;
                            float: left;
                        }
                    }
                }
                ul.ssl{
                    font-family: 'Avenir LT Std 65 Medium';
                    color: white;
                    li{
                        display: inline-block;
                        width: 100px;
                        text-align: center;
                        line-height: 16px;
                    }
                    img{
                        margin: 0 auto 20px;
                        max-width: 50px;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
        .left-side{
            .v-card__text{
                padding: 105px 40px 0 0;
                transform: none;
                position: relative;
                left: 0;
                top: 0;
                text-transform: capitalize;
                font-family: 'Avenir LT Std 95 Black';
                @media screen and (max-width: 599px){
                    padding: 20px;
                }
                h4{
                    font-size: 20px;
                    color: $darkblue;
                    margin-bottom: 20px;
                }
                label{
                    font-family: 'Avenir LT Std 65 Medium';
                    font-size: 14px;
                    color: $darkgrey;
                    display: block;
                    margin-bottom: 10px;

                }
            }
            p{
                span{
                    color: black;
                }
            }
            .form-top{
                padding-left: 80px;
                @media screen and (max-width: 599px){
                    padding-left: 0;
                }
            }
            .trial{
                background: $darkblue;
                padding: 40px 20px 40px 80px;
                margin: 40px 0 24px;
                color: white;
                @media screen and (max-width: 599px){
                    padding: 10px;
                }
                .trial-left{
                    display: inline-block;
                }
                h2{
                    font-family: 'Avenir LT Std 95 Black';
                    font-size: 16px;
                }
                h3{
                    font-family: 'Avenir LT Std 85 Heavy';
                    color: white;
                    font-size: 12px;
                }
                span{
                    font-family: 'Avenir LT Std 85 Heavy';
                    color: $placeholder_text;
                    font-size: 12px;
                }
                i{
                    color: inherit;
                    float: left;
                    border: 1px solid white;
                    border-radius: 50%;
                    font-size: 16px;
                    padding: 2px;
                    margin-right: 20px;
                    @media screen and (max-width: 599px){
                        font-size: 10px;
                        margin-right: 5px;
                    }
                }
            }
            .v-form {
                padding-left: 64px;
                margin-top: 0;
                @media screen and (max-width: 599px){
                    padding-left: 0;
                }
                .v-card__text{
                    padding: 10px;
                } 
                .theme--light.v-select .v-select__selections {
                    color: $inputBlue;
                }
                .orangeButton{
                    h5{
                        font-size: 20px;
                        text-transform: none;
                        letter-spacing: 0;
                        text-align: center;
                        display: block;
                        @media screen and (max-width: 599px){
                            font-size: 16px;
                        }
                    }
                    
                    span{
                        display: block;
                        width: 100%;
                        text-transform: capitalize;
                        letter-spacing: 0;
                        color: $skincolor;
                        font-family: 'Avenir LT Std 65 Medium';
                        @media screen and (max-width: 599px){
                            font-size: 12px;
                        }
                    }
                    .v-btn__content{
                        display: block;
                        line-height: 20px;
                    }
                }
                .creditCardImage{
                    margin: auto;
                    max-width: 220px;
                }
            }
            .card-number {
                box-shadow: 0 7px 49px #e6e6e6;
                border-radius: 5px;
                background-color: #F9FCFF;
                padding: 18px;
            }
            .card-cvc {
                box-shadow: 0 7px 49px #e6e6e6;
                border-radius: 5px;
                background-color: #F9FCFF;
                padding: 18px;
            }
            .card-expiry{
                box-shadow: 0 7px 49px #e6e6e6;
                border-radius: 5px;
                background-color: #F9FCFF;
                padding: 18px;
            }
            .credit-card-inputs.complete {
                border: 2px solid green;
            }
            
        }
        .right-side{
            background: url('../../../assets/images/signup-payment.png') no-repeat top center;
            min-height: 100vh;
            background-size: cover; 
        }
    }
}