
// placeholder scss
.trialPopup input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.trialPopup input::-moz-placeholder { /* Firefox 19+ */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.trialPopup input:-ms-input-placeholder { /* IE 10+ */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.trialPopup input:-moz-placeholder { /* Firefox 18- */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.trialPopupWrap{
    .v-btn.theme--light.orangeButton{
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}
.v-dialog{
    overflow-y: inherit;
    border-radius: 20px;
    box-shadow: 0 18px 54px $lightblueShadow;
    border: 0px;
    margin-left: 352px;
    .startText{
        position: absolute;
        top: 60%;
        left:20%;
        bottom: 0;
        transform: translateY(-50%);
        width: 450px;   
        h2{
            font-family: 'Avenir LT Std 95 Black';
            font-size: 40px;
            color: $inputBlue;
            margin-bottom: 18px;
            line-height: 50px;
            letter-spacing: 1px;
        }
    }
    .trialPopup{
        padding: 38px;
        border-radius: 20px;
        position: relative;
        min-height: 500px;
        .smalllogo{
            position: absolute;
            left: -57px;
            top: 32px;
            width: 30%;
        }
        .v-form{
            margin-top: 90px;
            .orangeButton{
                border-radius: 5px;
                color: $white;
                letter-spacing: 2px;
                font-family: 'Avenir LT Std 95 Black';
                font-size: 12px;
                height: 63px;
                margin-bottom: 34px;
                margin-top: 0px;
                background-color: $orange;
                .v-btn__content{
                    line-height: 68px;
                }
            }
        }
    }
}

.trialPopup {
    .theme--light.v-text-field--solo .v-input__slot{
        background-color: $inputBackgroundblue;
    }
    .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea{
        color: $inputBlue;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
        box-shadow: 0 7px 49px $lightshadow;
        border-radius: 5px;
        margin: 0px;
    }
    .email.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
        background-image: url('../../../assets/images/email.png') !important;
        background-repeat: no-repeat!important;
        background-position: 95% 54% !important;
    }
    .name.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
        background-image: url('../../../assets/images/name.png') !important;
        background-repeat: no-repeat!important;
        background-position: 95% 60% !important;
    }
    .v-text-field.v-text-field--solo .v-input__control{
        height: 63px;
    }
    .v-form>.container>.layout>.flex{
        margin-bottom: 30px;
        padding: 0px;
    }
    .v-text-field.v-text-field--enclosed .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details{
        padding:18px;
    }
    .v-text-field input{
        padding-right: 35px;
    }
    .v-btn:not(.v-btn--depressed):not(.v-btn--flat){
        box-shadow: none;
    }
    .v-dialog__content{
        transform: translateX(4%);
    }
}
.v-overlay:before{
    content:'';
    top: 0;
    right: 0;
    position: absolute;
    background:url('../../../assets/images/smallcross.png') $lightblue;
    background-repeat: no-repeat;
    background-position:98% 5%;
    cursor: pointer;
    opacity: 0.9;
}
a{
    text-decoration: underline;
}
// responsive
@media screen and (max-width: 1904px) and (min-width: 1264px){
    .v-dialog{
        margin-left: 422px;
        .startText{
            left: 11%;
        }
    }
}   
@media screen and (max-width: 1263px) and (min-width: 960px){
    .v-dialog{
        margin-left: 473px;
        .startText{
            left: 3%;
        }
    }
} 
@media screen and (max-width: 959px) and (min-width: 600px){
    .v-dialog{
        margin-left: 200px;
        .startText{
            left: 3%;
            top: 51%;
            width: 100px;
            h2{
                font-size: 26px;
                line-height: 40px;
            }
        }
    }
} 
@media screen and (max-width: 599px) and (min-width: 320px){
    .v-dialog{
        margin-left: 20px;
        margin-right: 20px;
        .startText{
            width: 100%;
            text-align: center;
            top: 42%;
            left: 0px;
            h2{
                font-size: 20px;
                line-height: 25px;
            }
        }
        .trialPopup{
            padding: 60px 14px;
            min-height: 410px;
            .smalllogo{
                top: 24px;
                left: -21px;
            }
            .v-form {
                margin-top: 50px;
                .container > .layout > .flex{
                    margin-bottom: 20px;
                }
                .orangeButton{
                    margin-bottom: 0px;
                }
            }
        }
    }
    .v-overlay:before{
        background-position: 97% 2%;
    }
}