// placeholder css
.right-aside ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder_text;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Avenir LT Std 35 Light';
  letter-spacing: 0;
}

.container{
  padding: 0;
  .left-aside{
    background: $lightblue;
    .v-card{
      background: $lightblue;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      border: none;
      min-height: 100vh;
      position: relative;
      .logo{
        padding: 15px;
        @media screen and (min-width: 600px) and (max-width: 1264px) {
          padding: 10px;
        }
      }
      .username{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        background: #ddedff;
        padding: 15px 30px;
        color: #535353;
        div{
          background: $username_color;
          display: inline-block;
          color: #fff;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          font-size: 10px;
          position: relative;
          vertical-align: middle;
          margin-right: 15px;
          text-align: center;
          font-weight: bold;
          span{
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
          }
        }
      }
      .left-menu{
        padding: 40px 0 10px;
        ul{
          li{
            display: inline-block;
            width: 100%;
            margin: 15px 0;
            span{
              display: block;
              padding: 0 30px;
              border-left: 3px solid $lightblue;
              color: $light_text;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 2px;
              cursor: pointer;
            }
            img{
              float: left;
              vertical-align: top;
              padding: 0;
              margin-right: 26px;
              padding-left: 32px;
            }
            &:hover{
              span{
                border-left: 3px solid $orange;
                color:$orange;
              }
              img.icon-zap{
                content:url("../../../assets/images/icon-zap-hover.png");
              }
              img.icon-zaptoken{
                content:url("../../../assets/images/icon-zaptoken-hover.png");
              }
              img.icon-help{
                content:url("../../../assets/images/icon-help-hover.png");
              }
            }
          }
        }
      }
      .create-new-zap{
        padding: 0;
        img{
          float: left;
          vertical-align: top;
          width: 130px;
          height: 130px;
          cursor: pointer;
          @media screen and (min-width: 600px) and (max-width: 1264px) {
            width: 90px;
            height: 90px;
          }
        }
        h2{
          display: block;
          padding: 60px 0;
          color: $orange;
          font-size: 15px;
          font-family: 'Avenir LT Std 45 Book';
          font-weight: bold;
          cursor: pointer;
          @media screen and (min-width: 600px) and (max-width: 1264px) {
            padding: 35px 0;
          }
        }
      }
      .total-zaps{
        padding: 16px 20px;
        h3{
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;     
          color: $body_text;
        }
        h4{
          font-family: 'Avenir LT Std 95 Black';
          color: $inputBlue;
          font-size: 50px;
          letter-spacing: 2px;
          @media screen and (min-width: 600px) and (max-width: 1264px) {
            font-size: 40px;
          }
        }
        .v-card__text{
          padding: 10px 16px;
          @media screen and (min-width: 600px) and (max-width: 1264px) {
            padding: 10px;
          }
        }
      }
      .left-footer{
        ul{
          padding-left: 32px;
          li{
            display: inline-block;
            cursor: pointer;
            vertical-align: top;
            margin-right: 50px;
            @media screen and (min-width: 600px) and (max-width: 1264px) {
              margin-right: 35px;
            }
            &:hover{
              img.back-icon{
                content: url("../../../assets/images/back-icon-hover.png");
              }
              img.user-icon{
                content: url("../../../assets/images/user-icon-hover.png");
              }
              img.icon-logout{
                content: url("../../../assets/images/icon-logout-hover.png");
              }
            }
            .v-tooltip{
              button{
                padding: 0;
                background: none;
                border: none;
                box-shadow: none;
                margin: 0;
                width: auto;
                min-width: auto;
                height: auto;
              } 
            }
          }
        }
      }
    }
  }
  .right-aside{
    padding: 0 20px;
    background: url('../../../assets/images/dash-bg.png') no-repeat bottom right;
    @media screen and (max-width: 599px){
      padding: 0;
    }
    .v-card{
      background: #fff;
      box-shadow: none;
      border-radius: 0;
      .search-bar{
        padding-top: 0;
        @media screen and (max-width: 599px){
          background: #edf4fe;
          padding: 10px 50px;
        }
        .v-input__slot:before{
          border: none;
        }
        .primary--text{
          color: $orange !important;
          caret-color: $orange !important;
          @media screen and (max-width: 599px){
            color: transparent !important;
          }
        }
        .v-text-field__slot{
          input{
            font-size: 15px;
            font-weight: normal;
            background: url("../../../assets/images/icon-search.png") no-repeat 0 5px;
            padding-left: 40px;
            color: #535353;
            @media screen and (max-width: 599px){
              min-height: 50px;
              border-radius: 50px;
              background-color: #fff;
              background-position: 15px;
            }
          }
        }
      }
      .how-it-works{
        img{
          vertical-align: top;
          display: inline-block;
          margin-right: 10px;
        }
        span{
          color: $orange;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 2px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .top-bar{
      padding: 20px 30px 0;
      img{
        vertical-align: bottom ;
      }
      .logo{
        img{
          @media screen and (max-width: 479px){
            width: 150px;
          }
        }
      }
    }
    .dashboard-body{
      padding: 50px 0 100px;
      @media screen and (max-width: 599px){
        padding: 50px;
      }
      .v-card__text{
        position: relative;
        @media screen and (max-width: 959px){
          padding: 0 16px;
        }
        h2{
          font-size: 36px;
          font-family: 'Avenir LT Std 95 Black';
          color: $inputBlue;
          @media screen and (max-width: 959px){
            font-size: 30px;
          }
        }
        img{
          position: absolute;
          left: -30px;
          top: -30px;
          @media screen and (max-width: 959px){
            left: -15px;
            top: -18px;
            width: 70px;
          }
        }
        p{
          font-family: 'Avenir LT Std 85 Heavy';
          color: $darkblue;
          font-weight: 600;
        }
        span{
          color: $placeholder_text;
        }
        &.add-zap-field{
          height: 100%;
          padding: 0;
          padding-top: 25px;
          cursor: pointer;
          @media screen and (max-width: 959px){
            padding-top: 0;
            padding-bottom: 25px;
            img{
              width: 50px;
            }
          }
        }
      }
      .create-new-zap{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
      }
      .create-zap-form{
        padding-left: 40px;
        background: none;
        .v-form{
          .v-text-field.v-input--has-state .v-input__slot:before,.v-text-field>.v-input__control>.v-input__slot:after,.v-text-field>.v-input__control>.v-input__slot:before{
            display: none;
          }
          .v-input__slot{
            margin: 0;
          }
          .v-text-field__slot{
            input{
              font-family: 'Avenir LT Std 35 Light';
              border: 2px solid $input_border;
              border-radius: 5px;
              min-height: 55px;
              padding: 15px;
              font-size: 18px;
            }
          }
          .v-select__slot{
            font-family: 'Avenir LT Std 35 Light';
              border: 2px solid $input_border;
              border-radius: 5px;
              min-height: 55px;
              padding: 10px;
              font-size: 18px;
          }
          img{
            position: relative;
            left: 0;
            top: 0;
            display: block;
            margin: auto;
          }
          .submit-btn{
            color: white;
            text-transform: none;
            font-size: 18px;
            background-image: linear-gradient(to right, $orange, #ff6910, #ff711c, #ff7927, #ff8030);
            padding: 0 60px;
            min-height: 50px;
            border-radius: 3px;
            transition: 0.5s;
            @media screen and (max-width: 599px){
              padding: 0 20px;
            }
            img{
              margin-right: 10px; 
            }
            &:before{
              display: none;
            }
            &.v-btn--disabled{
              opacity: 0.5;
              color: white !important;
            }
            &:hover{
              background-image: linear-gradient(to right, #ff8030, #ff7927, #ff711c, #ff6910, #ff6100);
            }
          }
          .tags-section{
            ul{
              li{
                display: inline-block;
                min-width: 150px;
                border: 2px solid #c5d7ee;
                border-radius: 50px;
                padding: 2px;
                background: $lightblue;
                font-size: 16px;
                margin-right: 10px;
                margin-bottom: 10px;
                img{
                  float: right;
                  vertical-align: top;
                  width: 34px;
                  cursor: pointer;
                }
                span{
                  display: inline-block;
                  margin-top: 6px;
                  padding-left: 5px;
                  color: $dark_text;
                }
              }
            }
          }
          .row{
            position: relative;
            &:after{
              content: "";
              display: block;
              border: 1px solid #ccc;
              position: absolute;
              left: -35px;
              height: 100%;
              top: 75px;
              @media screen and (max-width: 959px){
                top: 58px;
                left: -15px;
              }
            }
            &:last-child, &:nth-child(3){
              &:after{
                display: none
              }
            }
          }
          .progress-bar{
            position: absolute;
            left: -85px;
            top: 18px;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            padding: 0 30px 50px 0;
            color: $grey;
            text-transform: uppercase;
            font-size: 9px;
            letter-spacing: 2px;
            font-weight: bold;
            width: 100px;
            text-align: center;
            @media screen and (max-width: 959px){
              top: 0;
              left: -65px;
            }
            .dot{
              border: 2px solid $grey;
              border-radius: 100%;
              position: relative;
              height: 5px;
              width: 5px;
              position: absolute;
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              top: 50%;
              left: 35%;
              -webkit-transition: width .3s ease-in-out, height .3s ease-in-out;
              transition: width .3s ease-in-out, height .3s ease-in-out;
              padding: 10px;
              &:before{
                content: "";
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                background: $grey;
                border-radius: 100%;
                -webkit-transition: width, height;
                transition: width, height;
                -webkit-transition-duration: .5s;
                transition-duration: .5s;
                -webkit-transition-timing-function: ease-in-out;
                transition-timing-function: ease-in-out;
              }
            }
            &.filled{
              .dot{
                border: 2px solid $orange;
                &:before{
                  background: $inputBlue;
                }
              }
            }
          }
        }
      }
    }
  }

  .left-aside-mobile{
    .v-card{
      .username{
        background: #c6d3e5;
        text-align: center;
        .userMobile{
          background: none;
          display: block;
          height: auto;
          width: auto;
          border-radius: 0;
          margin-right: 0;
          position: relative;
          top: 70px;
          color: $username_color;
          font-size: 15px;
          font-family: 'Avenir LT Std 95 Black';
          letter-spacing: 0;
          div{
            background: $username_color;
            display: block;
            height: 50px;
            width: 50px;
            font-size: 20px;
            margin: 0 auto 10px;
          }
        }
        .back-btn{
          background: none;
          float: right;
          margin: 0;
        }
      }
      .left-menu {
        padding: 80px 0 10px;
        ul{
          padding: 0;
        }
      }
      .total-zaps{ 
        .v-card__text {
          padding: 0 16px;
        }
        h4 {
          font-size: 36px;
        }
      }
      .left-footer {
        ul{
          li {
            margin-left: 50px;
            margin-right: 0;
          }
        }
      }
    }
  }
}

