.container{
    .right-aside {
        .dashboard-body{
            .paymentinfo.locked-acc{
                .center-block{
                    text-align: center;
                    img{
                        position: relative;
                        left: 0;
                        top: 0;
                        margin-bottom: 30px;
                    }
                    h1{
                        margin-bottom: 30px;
                    }
                    p{
                        margin: 0;
                    }
                    a{
                        font-family: 'Avenir LT Std 95 Black';
                        color: $dark_text;
                        &.makepayment{
                            font-family:'Avenir LT Std 65 Medium';
                            color: $orange;
                            text-decoration: underline;
                        }
                    }
                    .gap{
                        display: inline-block;
                        width: 100%;
                        margin: 10px 0;
                    }
                }
            }
        }
    } 
}