.container{
    .right-aside {
        .dashboard-body{
            .paymentinfo.upgrademembership{
                .v-card__text{
                    @media screen and (max-width: 1263px){
                        padding: 16px 0;
                    }
                }
                .center-block{
                    position: relative;
                    transform: none;
                    left: 0;
                    top: 0;
                    width: 100%;
                    .cancel-membership{
                        margin-top: 50px;
                        display: inline-block;
                        width: 100%;
                        a{
                            color: $orange;
                            text-decoration: underline; 
                        }
                    }
                    .submit-btn{
                        border-radius: 40px;
                        font-family: 'Avenir LT Std 65 Medium';
                        text-transform: capitalize;
                        padding: 0 20px;
                        min-height: 35px;
                        margin: 0 auto;
                        box-shadow: none;
                        span{
                            letter-spacing: 0;
                            font-size: 14px;
                        }
                        &.downgrade{
                            background: $pale;
                        }
                    }
                    .currentplan{
                        text-align: center;
                        padding: 10px;
                        span{
                            color: $dark_text;
                        }
                    }
                    .plan{
                        padding: 0 10px;
                        cursor: pointer;
                        transform: translateY(0);
                        transition: 0.5s;
                        max-width: 400px;
                        margin: auto;
                        &:hover{
                            transform: translateY(-20px);
                        }
                        .head{
                            color: white;
                            text-transform: uppercase;
                            background: rgb(187,211,237);
                            background: -moz-linear-gradient(left, rgba(187,211,237,1) 0%, rgba(178,213,255,1) 100%);
                            background: -webkit-linear-gradient(left, rgba(187,211,237,1) 0%,rgba(178,213,255,1) 100%);
                            background: linear-gradient(to right, rgba(187,211,237,1) 0%,rgba(178,213,255,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd3ed', endColorstr='#b2d5ff',GradientType=1 );
                            height: 150px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            position: relative;
                            @media screen and (min-width: 960px) and (max-width: 1263px){
                                height: 120px;
                            }
                            h4{
                                font-family: 'Avenir LT Std 95 Black';
                                font-size: 60px;
                                position: absolute;
                                right: 30px;
                                top: 50%;
                                transform: translate(0,-50%);
                                @media screen and (min-width: 960px) and (max-width: 1263px){
                                    font-size: 35px;
                                    right: 10px;
                                }
                                span{
                                    font-size: 26px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: white;
                                }
                            }
                            .type{
                                font-family: 'Avenir LT Std 85 Heavy';
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                font-size: 12px;
                                -webkit-transform: rotate(-90deg);
                                transform: rotate(-90deg);
                                display: inline-block;
                                position: absolute;
                                left: -20px;
                                top: 45%;
                                width: 100px;
                                text-align: center;
                                color: white;
                                @media screen and (min-width: 960px) and (max-width: 1263px){
                                    left: -30px;
                                    font-size: 12px;
                                }
                            }
                        }
                        &.highlighted{
                            .head{
                                background: rgb(255,144,77);
                                background: -moz-linear-gradient(left, rgba(255,144,77,1) 0%, rgba(255,97,0,1) 100%);
                                background: -webkit-linear-gradient(left, rgba(255,144,77,1) 0%,rgba(255,97,0,1) 100%);
                                background: linear-gradient(to right, rgba(255,144,77,1) 0%,rgba(255,97,0,1) 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff904d', endColorstr='#ff6100',GradientType=1 );
                            }
                        }
                        @media screen and (max-width: 959px) {
                            padding: 0;
                            max-width: 500px;
                        }
                        .body{
                            color: $darkblue;
                            box-shadow: 0 0 100px 0 $input_border;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            background: white;
                            text-align: center;
                            padding: 50px 10px;
                            ul{
                                li{
                                    font-family: 'Avenir LT Std 65 Medium';
                                    color: $dark_text;
                                    font-size: 16px;
                                    padding: 14px 0;
                                    text-transform: capitalize;
                                    @media screen and (min-width: 960px) and (max-width: 1263px){
                                        font-size: 14px;
                                        padding: 8px 0;
                                    }

                                    &.disabled{
                                        opacity: 0.5;
                                    }
                                }
                            }
                            @media screen and (min-width: 960px) and (max-width: 1263px){
                                padding: 20px 5px;
                            }
                        }
                    }
                }
            }
        }
    } 
}