.passwordWrap{
    .v-btn.theme--light.orangeButton{
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}
.v-dialog{
    .heading{
        position: absolute;
        top:50%;
        left: -140px;
        bottom: 50%;
        transform: translateY(-50%);
        transform: rotate(-90deg);
        text-align: center;
        h2{
            font-family: 'Avenir LT Std 95 Black';
            text-transform: capitalize;
            font-size: 40px;
            color: $orange;
            margin-bottom: 18px;
            line-height: 40px;
        }
        h6{
            color: $darkblue;
            font-size:10px;
            font-family: 'Avenir LT Std 35 Light';
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
   
}


a{
    text-decoration: underline;
}

// responsive
@media screen and (max-width: 675px) and (min-width: 320px){
    .v-dialog {
        .heading{
            transform: none;
            left: 0;
            right: 0;
            top: 47px;
            h2{
                font-size: 30px;
                margin-top: 50px;
                margin-bottom: 0px;
            }
        }
        .changePassword{
            padding: 30px 14px;
            width: 90%;
            .smalllogo{
                top: 0;
                left: 0;
            }
            .v-form 
                .orangeButton{
                    margin-bottom: 0px;
                    margin-top: 15px;
                }
                .container {
                    span{
                        width: 100%;
                        text-align: center;
                    }
                }
        }
    }
}