.container{
    .right-aside{
        .dashboard-body{
            .tutorial{
                .v-card__text {
                    img{
                        left: -50px;
                        top: 15px;
                        @media screen and (max-width: 959px){
                            left: 15px;
                            width: 35px;
                            top: 0;
                        }
                    }
                }
                .addtutorial{
                    display: block;
                    width: 100%;
                }
                .submit-btn{
                    float: right;
                    color: white;
                    text-transform: none;
                    font-size: 14px;
                    background-image: linear-gradient(to right, $orange, #ff6910, #ff711c, #ff7927, #ff8030);
                    padding: 0 10px;
                    min-height: auto;
                    border-radius: 3px;
                    transition: 0.5s;
                    margin: 0;
                    font-family: 'Avenir LT Std 95 Black';
                    @media screen and (max-width: 599px){
                      padding: 0 20px;
                    }
                    img{
                      margin-right: 10px; 
                    }
                    &:before{
                      display: none;
                    }
                    &.v-btn--disabled{
                      opacity: 0.5;
                      color: white !important;
                    }
                    &:hover{
                      background-image: linear-gradient(to right, #ff8030, #ff7927, #ff711c, #ff6910, #ff6100);
                    }
                }
                .hide-nav{
                    display: none;
                }
                .tutorial-list-table{
                    display: inline-block;
                    width: 100%;
                    margin-top: 10px;
                    .v-toolbar__content{
                        padding: 0;
                        .v-dialog__container{
                            width: 100%;
                        }
                    }
                    .theme--light.v-table{
                        thead {
                            background: $lightblue;
                            tr:first-child{
                                border-top:1px solid rgba(0,0,0,.12);
                            }
                            th{
                                font-size: 14px;
                                font-family: 'Avenir LT Std 95 Black';
                                font-weight: normal;
                                color: $body_text;
                            }
                        } 
                        tbody{
                            tr{
                                td{
                                    color: $body_text;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}
.popup-head{
    color: $body_text;
    h3{
        color: $inputBlue;
        text-transform: capitalize;
        margin: 10px 0;
        font-family: 'Avenir LT Std 95 Black';
    }
}