$orange: #ff6100;
$lightblue: #eef6ff;
$lightblueShadow: #a4b9d2;
$inputBlue: #7ca8dc;
$inputBackgroundblue: #F9FCFF;
$darkblue: #748eac;
$white: #fff;
$lightshadow: #e6e6e6;
$light_text: #a4c6ef;
$placeholder_text: #b4cce9;
$username_color: #010407;
$body_text: #535353;
$dark_text: #7a92af;
$input_border: #c5d7ee;
$grey: #ccc;
$shadowGrey: #eaeaea;
$darkgrey: #a8a8a8;
$darkblue: #a3b7d1;
$lightBackground: #edf6ff;
$topbar_text: #343434;
$lightbg: #d3deeb;
$lightred: #ffb0aa;
