.container{
    .right-aside{
      .dashboard-body{
        .viewZap{
            padding: 0 120px;
            @media screen and (max-width:1259px){
                padding: 0 0 0 20px;
            }
            .v-card__text {
                margin: 20px 0;
                &.name{
                    font-size: 20px;
                    color: $inputBlue;
                }
                span{
                    color: #7a92af;
                    font-size: 16px;
                }
                ul{
                    li{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
            .create-zap-form{
                .v-form{
                    .progress-bar {
                        top: 5px;
                        @media screen and (max-width: 959px){
                            top: -10px;
                        }
                    }
                    .row{
                        &:after {
                            top: 56px;
                            @media screen and (max-width: 959px){
                                top: 40px;
                            } 
                        }
                    }
                    .tags-section {
                        ul{
                            li{
                                span{
                                    margin-top: 0;
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    .submit-btn {
                        background: none;
                        border: 2px solid $orange;
                        box-shadow: none;
                        color: $orange;
                        border-radius: 50px;
                        min-height: 60px;
                        @media screen and (max-width: 959px){
                            padding: 0 20px;
                        } 
                        img{
                            transform: rotate(-180deg);
                        }
                    }
                }
            } 
        }
      }
    }
  }