.container{
    .right-aside.myZapWrap{
        background: none;
        .dashboard-body{
            .myZaps{
                .eachZap{
                    padding: 30px 15px 30px 0px;
                    border-bottom:1px solid $placeholder_text;
                    .zapName{
                        float: left;
                        width:70%;
                        a{
                            text-transform: capitalize;
                            color: $orange;
                            font-size: 13px;
                            vertical-align: middle;
                            img{
                                position: relative;
                                top: 0;
                                left: 0;
                                vertical-align: text-bottom;
                                width:16px;
                                margin-right: 7px;
                            }
                        }
                        .magicOption{
                            margin-top: 12px;
                            span{
                                color: $darkblue;
                                text-transform: uppercase;
                                font-size: 10px;
                                font-family: 'Avenir LT Std 85 Heavy';
                            }
                        }
                        
                        
                    }
                    h3{
                        font-size: 20px;
                        font-family: 'Avenir LT Std 65 Medium';
                        color: $inputBlue;
                        text-transform: capitalize;
                        display: inline-block;
                        margin-right: 26px;
                    }
                    .zaps{
                        float: right;
                        width: calc(100% - 70%);
                        h3{
                            width: 160px;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}
          