.container{
  .right-aside{
    .dashboard-body{
      .HowItWorks{
        @media screen and (max-width: 599px) {
          padding: 0 20px;
        }
        h2{
          font-size: 20px;
        }
        .top-bar-text {
          p{
            color: $darkgrey;
            margin: 10px 0;
          }
        }
        .training-video{
          padding: 0 16px;
          @media screen and (min-width: 960px) and (max-width: 1259px) {
            padding: 0 8px;
          }
        }
        .image{
          display: block;
          margin: auto;
          border-radius: 10px;
          max-width: 100%;
        }
        .right-text-block{
          padding: 0 50px;
          @media screen and (min-width: 960px) and (max-width: 1264px) {
            padding: 0 10px;
          }
          @media screen and (max-width: 959px) {
            padding: 0;
          }
          h3{
            font-size: 30px;
            font-family: 'Avenir LT Std 95 Black';
            line-height: 40px;
            @media screen and (max-width: 959px) {
              margin-top: 20px;
            }
          }
          p{
            color: $body_text;
            font-family: 'Avenir LT Std 55 Roman';
            font-weight: normal;
            max-height: 60px;
            overflow: hidden;
          }
          .header-bottom{
            background: url('../../../assets/images/line-video-title.png') no-repeat bottom left;
            margin: 10px 0 30px;
            display: inline-block;
            width: 100%;
            span{
              display: inline-block;
              margin: 10px 30px 30px 0;
              color: $darkgrey;
              line-height: 16px;
              span{
                color: $dark_text;
                margin: 0;
              }
              img{
                position: relative;
                left: 0;
                top: 0;
                display: block;
                max-width: 100%;
                float: left;
                margin-right: 10px;
                filter: grayscale(100%);
                width: auto;
                @media screen and (max-width: 1259px) {
                  margin-right: 3px;
                }
              }
            }
          }
        }
        .bottom-section{
          margin-top: 100px;
          @media screen and (max-width: 959px) {
            margin-top: 30px;
          }
          .flex{
            padding: 0 16px;
            @media screen and (min-width: 960px) and (max-width: 1259px) {
              padding: 0 8px;
            }
          }
          .right-text-block{
            padding: 0;
            margin-bottom: 50px;
            p{
              font-size: 13px;
              margin: 10px 0;
            }
            h3 {
              font-size: 14px;
              line-height: 20px;
              margin: 10px 0 0;
            }
            .header-bottom {
              background: none;
              margin-bottom: 0;
              span {
                line-height: 16px;
                font-size: 10px;
                vertical-align: top;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

