
// placeholder scss
.login input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.login input::-moz-placeholder { /* Firefox 19+ */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.login input:-ms-input-placeholder { /* IE 10+ */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.login input:-moz-placeholder { /* Firefox 18- */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.loginWrap{
    .v-btn.theme--light.orangeButton{
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}
.v-dialog{
    overflow-y: inherit;
    border-radius: 20px;
    box-shadow: 0 18px 54px $lightblueShadow;
    border: 0px;
    .heading.leftSpace{
        position: absolute;
        top:50%;
        left: -90px;
        bottom: 50%;
        transform: translateY(-50%);
        transform: rotate(-90deg);
        text-align: center;
        h2{
            font-family: 'Avenir LT Std 95 Black';
            text-transform: capitalize;
            font-size: 40px;
            color: $orange;
            margin-bottom: 18px;
            line-height: 40px;
        }
        h6{
            color: $darkblue;
            font-size:10px;
            font-family: 'Avenir LT Std 35 Light';
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
    .login{
        padding: 38px;
        border-radius: 20px;
        position: relative;
        .smalllogo{
            position: absolute;
            left: -57px;
            top: 32px;
            width: 30%;
        }
        .v-form{
            margin-top: 60px;
            .container{
                padding-bottom: 0px;
                .forgotpass{
                    text-transform: capitalize; 
                    font-family: 'Avenir LT Std 65 Medium';
                    color: $orange;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 20px;
                }
                span{
                    margin: 0px auto;
                    font-family: 'Avenir LT Std 85 Heavy';
                    font-size: 14px;
                    color: $darkblue;
                    a{
                        color: $orange;
                        text-transform: capitalize;
                    }
                }
            }
            .orangeButton{
                border-radius: 5px;
                color: $white;
                letter-spacing: 2px;
                font-family: 'Avenir LT Std 95 Black';
                font-size: 11px;
                height: 63px;
                margin-bottom: 34px;
                margin-top: 0px;
                background-color: $orange;
                .v-btn__content{
                    line-height: 62px;
                }
                img{
                    margin-right: 11px;
                    width: 6%;
                }
            }
        }
    }
}


.login .theme--light.v-text-field--solo .v-input__slot{
    background-color: $inputBackgroundblue;
}
.login .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea{
    color: $inputBlue;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.login .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
    box-shadow: 0 7px 49px $lightshadow;
    border-radius: 5px;
    margin: 0px;
}
.login .email.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
    background-image: url('../../../assets/images/email.png') !important;
    background-repeat: no-repeat!important;
    background-position: 95% 54% !important;
}
.login .password.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
    background-image: url('../../../assets/images/password.png') !important;
    background-repeat: no-repeat!important;
    background-position: 95% 60% !important;
}
.login .v-text-field.v-text-field--solo .v-input__control{
    height: 63px;
}
.login .v-form>.container>.layout>.flex{
    margin-bottom: 30px;
    padding: 0px;
}
.login .v-text-field.v-text-field--enclosed .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details{
    padding:18px;
}
.login .v-overlay:before{
    content:'';
    top: 0;
    right: 0;
    position: absolute;
    background:url('../../../assets/images/smallcross.png') $lightblue;
    background-repeat: no-repeat;
    background-position:98% 5%;
    cursor: pointer;
    opacity: 0.9;
}
.login .v-text-field input{
    padding-right: 35px;
}
.login .v-btn:not(.v-btn--depressed):not(.v-btn--flat){
    box-shadow: none;
}
