.animate {
    transition-delay: .5s;
    transition-duration: .50s;
    transition-timing-function: ease-in;
}
   
.slide-up {
    transform: translateY(0px);
}

.slide-up.animate-active {
    transform: translateY(-100px);  
}

.slide-left {
    transform: translateX(-200px);
}

.slide-left.animate-active {
    transform: translateX(0px);  
}

.simple-text{
    p{
        color: $dark_blue;
        font-size: 18px;
        @media screen and (max-width: 959px) {
            font-size: 16px;
        }
    }
}

.section{
    box-shadow: none;
    position: relative;
    margin-top: 100px;
    @media screen and (max-width: 1259px) {
        margin-top: 0;
        background-size: contain !important;
    }
    h2{
        font-family: 'Avenir LT Std 95 Black';
        color: $inputBlue;
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 50px;
        @media screen and (min-width: 600px) and (max-width: 959px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 959px) {
            font-size: 27px;
            margin-bottom: 30px;
        }
    }
    img{
        max-width: 100%;
    }
}
.first-section{
    background: url('../../assets/images/top-bg.png') no-repeat top center;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
    @media screen and (max-width: 1259px){
        background-size: cover !important;
    } 
    @media screen and (max-width: 959px) {
        min-height: auto;
    }
    .top-bar{
        .logo{
            padding: 10px 15px 0;
        }
        .layout .flex{
            position: relative;
        }
        .banner-left{
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
            color: $topbar_text;
            width: 55%;
            @media screen and (min-width: 600px) and (max-width: 1259px) {
                width: 85%;
            }
            @media screen and (max-width: 599px) {
                position: relative;
                width: 100%;
                padding: 70px 20px;
            }
            .makeweb{
                display: block;
                text-transform: uppercase;
                font-family: 'Avenir LT Std 85 Heavy';
                font-size: 15px;
                letter-spacing: 2px;
                @media screen and (min-width: 600px) and (max-width: 959px) {
                    font-size: 12px;
                }
            }
            h1{
                font-family: 'Avenir LT Std 95 Black';
                font-size: 60px;
                @media screen and (min-width: 960px) and (max-width: 1259px) {
                    font-size: 50px;
                }
                @media screen and (max-width: 959px) {
                    font-size: 30px;
                }
            }
            p{
                font-size: 24px;
                line-height: 30px;
                margin: 30px 0;
                @media screen and (max-width: 959px) {
                    font-size: 16px;
                    line-height: 25px;
                    margin: 20px 0;
                }
            }
            .free-trial-btn{
                font-family: 'Avenir LT Std 85 Heavy';
                font-size: 16px;
                background: #7CA8DC;
                text-align: center;
                color: white;
                border-radius: 40px;
                cursor: pointer;
                text-transform: none;
                padding: 15px 50px;
                height: 100%;
                box-shadow: none;
                margin: 0;
                @media screen and (max-width: 959px) {
                    padding: 10px 30px;
                }
            }
        }
        .banner-right{
            padding: 120px 0;
            img{
                width: 80%;
                margin: auto;
                @media screen and (max-width: 959px) {
                    width: 100%;
                }  
            }
            @media screen and (min-width: 600px) and (max-width: 959px) {
                padding: 50px 0;
            } 
            @media screen and (max-width: 599px) {
                padding: 0;
            } 
        }
        .mobile-hamburger-menu {
            background: none;
            box-shadow: none;
            position: absolute;
            top: 45px;
            right: 20px;
        }
        
    }
    .v-toolbar{
        background: none !important;
        box-shadow: none !important;
        text-transform: uppercase;
        font-family: 'Avenir LT Std 95 Black';
        font-size: 11px;
        letter-spacing: 1px;
        .v-toolbar__items{
            .theme--light.v-btn{
                color: $inputBlue;
                font-size: 11px;
                letter-spacing: 1px;
            }
            span{
                display: block;
                padding: 10px 15px;
                text-align: center;
                color: white;
                border-radius: 40px;
                margin: 10px;
                line-height: 25px;
                cursor: pointer;
                @media screen and (min-width: 960px) and (max-width: 1259px) {
                    padding: 15px 5px;
                    margin: 5px;
                }
                img{
                    vertical-align: top;
                }
                &.freetrialbtn{
                    background: $orange;
                    background: -moz-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, $orange), color-stop(100%, rgba(255,169,103,1)));
                    background: -webkit-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                    background: -o-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                    background: -ms-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                    background: linear-gradient(to right, $orange 0%, rgba(255,169,103,1) 100%);
                }
                &.loginbtn{
                    background: $inputBlue;
                    img{
                        width: 20px;
                        height: auto;
                    }
                }
            }
        }
    }
}


.container {
    .left-aside{
        &.left-aside-mobile{
            .v-card{
                .left-menu{
                    ul{
                        li{
                            display: block;
                            padding: 10px 15px;
                            span{
                                &.freetrialbtn{
                                    padding: 10px 15px;
                                    text-align: center;
                                    color: white;
                                    border-radius: 40px;
                                    line-height: 25px;
                                    background: $orange;
                                    background: -moz-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                                    background: -webkit-gradient(left top, right top, color-stop(0%, $orange), color-stop(100%, rgba(255,169,103,1)));
                                    background: -webkit-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                                    background: -o-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                                    background: -ms-linear-gradient(left, $orange 0%, rgba(255,169,103,1) 100%);
                                    background: linear-gradient(to right, $orange 0%, rgba(255,169,103,1) 100%);
                                }
                                &.loginbtn{
                                    background: $inputBlue;
                                    padding: 10px 15px;
                                    text-align: center;
                                    color: white;
                                    border-radius: 40px;
                                    line-height: 25px;
                                    img{
                                        width: 20px;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}  

.second-section{
    text-align: center;
    padding: 0 200px 0;
    @media screen and (min-width: 960px) and (max-width: 1259px) {
        padding: 100px 0;
    }
    @media screen and (min-width: 600px) and (max-width: 959px) {
        min-height: auto;
        padding: 50px;
        margin-top: 100px; 
    }
    @media screen and (max-width: 599px) {
        min-height: auto;
        padding: 50px 0 0;
        margin-top: 100px; 
    }
    
}

.third-section{
    background: url('../../assets/images/hiw-bg.png') no-repeat top left;
    padding: 0 0 100px;
    @media screen and (max-width: 959px) {
        padding: 0;
    }
    .block-head{
        span{
            font-family: 'Avenir LT Std 85 Heavy';
            color: $inputBlue;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-left: 270px;
            @media screen and (max-width: 959px) {
                padding: 0 20px;
                margin: 0;
                position: relative;
                z-index: 1;
                background: $white;
            }
        }
        &:after{
            content: '';
            border-top: 2px solid $grey;
            min-width: 250px;
            position: absolute;
            left: 0;
            top: 10px;
            @media screen and (max-width: 959px) {
                min-width: 100%;
            }
        }
        @media screen and (max-width: 959px) {
            text-align: center;
        }
    }
    .three-blocks{
        padding: 150px 200px 0;
        @media screen and (min-width: 960px) and (max-width: 1259px) {
            padding: 100px 100px 0;
        }
        @media screen and (max-width: 959px) {
            padding: 50px 0;
        }
    }
    .hwt-block{
        text-align: center;
        padding: 0 50px;
        @media screen and (min-width: 960px) and (max-width: 1259px) {
            padding: 0;
        }
        @media screen and (max-width: 959px) {
            padding: 0;
            margin-bottom: 40px;
            border-bottom: 1px solid #deedff;
        }
        h3{
            font-family: 'Avenir LT Std 95 Black';
            color: $inputBlue;
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 50px;
        }
    }
}

.fourth-section{
    padding: 0 0 0 200px;
    background: url('../../assets/images/orange_bg.png') no-repeat center right;
    @media screen and (min-width:600px) and (max-width: 1259px) {
        padding: 0 50px;
    }
    @media screen and (max-width: 959px) { 
        text-align: center;
    }
    @media screen and (max-width: 959px) { 
        text-align: center;
    }
    @media screen and (max-width: 600px) {
        padding: 0 20px;
    }
    .block-head{
        position: relative;
        margin-bottom: 20px;
        span{
            font-family: 'Avenir LT Std 85 Heavy';
            color: $orange;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-left: 60px;
            @media screen and (max-width: 959px) {
                padding: 0 20px;
                margin: 0;
                position: relative;
                z-index: 9;
                background: white;
            }
        }
        &:after{
            content: '';
            border-top: 2px solid $inputBlue;
            min-width: 30px;
            position: absolute;
            left: 0;
            top: 10px;
            @media screen and (max-width: 959px) {
                min-width: 100%;
            }
        }
        @media screen and (max-width: 959px) {
            text-align: center;
        }
    }
    .simple-text{
        margin-bottom: 50px;
        font-family: 'Avenir LT Std 65 Medium';
        h3{
            color: $inputBlue;
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        p{
            color: $dark_blue;
            font-size: 15px;
            @media screen and (max-width: 959px) {
                font-size: 16px;
            }
        }
    }
    .app-screen{
        img{
            float: right;
            @media screen and (max-width: 959px) { 
                float: none;
                margin: auto;
                display: block;
            }
        }
    }
}

.fifth-section{
    background: url('../../assets/images/client-bg.png') no-repeat top left;
    padding: 240px 100px 120px;
    margin: 0;
    @media screen and (min-width: 600px) and (max-width: 1259px) {
        padding: 50px;
    }
    @media screen and (max-width: 599px) {
        padding: 20px;
    }
    .client-image{
        background: url('../../assets/images/bg-dots.png') no-repeat 50% 100%;
        padding: 0 0 45px;
        img{
            display: block;
            @media screen and (max-width: 959px) {
                margin: auto;
            }
        }
    }
    h2{
        background: url('../../assets/images/arrow-light.png') no-repeat 80%;
        color: $dark_head;
        max-width: 400px;
        font-size: 45px;
        @media screen and (max-width: 959px) {
            max-width: 100%;
            background-size: contain;
            font-size: 32px;
            text-align: center;
        }
    }
    .simple-text{
        max-width: 600px;
        @media screen and (max-width: 959px) {
            max-width: 100%;
        }
        .image{
            width: 60px;
            height: 60px;
            display: block;
            margin: auto;
            @media screen and (max-width: 959px) {
                width: 50px;
                height: 50px;
            }
            img{
                border-radius: 50%;
            }
        }
    }
}

.sixth-section{
    background: url('../../assets/images/plan-bg.png') no-repeat top right;
    padding: 200px 200px 50px;
    margin-top: 0;
    @media screen and (min-width: 600px) and (max-width: 1259px) {
        padding: 50px;
    }
    @media screen and (max-width: 599px) {
        padding: 20px;
    }
    .block-head{
        display:inline-block;
        max-width: 400px;
        span{
            font-family: 'Avenir LT Std 85 Heavy';
            color: $darkblue;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2px;
            display: block;
        }
        h2{
            color: $dark_head;
            font-size: 45px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            @media screen and (max-width: 959px) {
                font-size: 32px;
            }
            span{
                font-family: 'Avenir LT Std 95 Black';
                font-size: 40px;
                line-height: 1.2;
                color: $orange;
                letter-spacing: 0;
                text-transform: none;
                display: inline-block;
            }
        }
        h3{
            font-family: 'Avenir LT Std 95 Black';
            font-weight: normal;
            color: $light_text;
            font-size: 20px;
        }
    }
    .plan{
        padding: 100px 10px 0;
        cursor: pointer;
        transform: translateY(0);
        transition: 0.5s;
        max-width: 400px;
        margin: auto;
        &:hover{
            transform: translateY(-20px);
        }
        .head{
            color: white;
            text-transform: uppercase;
            background: rgb(187,211,237);
            background: -moz-linear-gradient(left, rgba(187,211,237,1) 0%, rgba(178,213,255,1) 100%);
            background: -webkit-linear-gradient(left, rgba(187,211,237,1) 0%,rgba(178,213,255,1) 100%);
            background: linear-gradient(to right, rgba(187,211,237,1) 0%,rgba(178,213,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd3ed', endColorstr='#b2d5ff',GradientType=1 );
            height: 150px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: relative;
            h4{
                font-family: 'Avenir LT Std 95 Black';
                font-size: 60px;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translate(0,-50%);
                span{
                    font-size: 26px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .type{
                font-family: 'Avenir LT Std 85 Heavy';
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 12px;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
                display: inline-block;
                position: absolute;
                left: -20px;
                top: 45%;
                width: 100px;
                text-align: center;
            }
        }
        &.highlighted{
            padding-top: 0;
            .head{
                background: rgb(255,144,77);
                background: -moz-linear-gradient(left, rgba(255,144,77,1) 0%, rgba(255,97,0,1) 100%);
                background: -webkit-linear-gradient(left, rgba(255,144,77,1) 0%,rgba(255,97,0,1) 100%);
                background: linear-gradient(to right, rgba(255,144,77,1) 0%,rgba(255,97,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff904d', endColorstr='#ff6100',GradientType=1 );
            }
        }
        @media screen and (max-width: 959px) {
            padding: 0;
            max-width: 500px;
        }
        .body{
            color: $darkblue;
            box-shadow: 0 0 100px 0 $input_border;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: white;
            text-align: center;
            padding: 50px 10px;
            ul{
                li{
                    font-family: 'Avenir LT Std 65 Medium';
                    color: $dark_text;
                    font-size: 16px;
                    padding: 14px 0;
                    text-transform: capitalize;
                    &.disabled{
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    
}

.frontend-footer.theme--light{
    min-height: 800px;
    background: url('../../assets/images/footer-bg.png') no-repeat bottom left;
    margin-top: 0;
    position: relative;
    @media screen and (max-width: 1259px) {
        min-height: 600px;
    }
    .footer-top{
        position: absolute;
        top: 30%;
        min-height: 300px;
        left: 0;
        right: 0;
        img{
            position: absolute;
            transform: translate(-50%,0);
            bottom: 0;
            left: 50%;
        }
    }
    .footer-bottom{
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        span{
            font-family: 'Avenir LT Std 85 Heavy';
            color: $dark_blue;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        h5{
            font-family: 'Avenir LT Std 95 Black';
            font-weight: normal;
            color: $dark_blue;
            font-size: 20px;
        }
    }
    .v-btn.free-trial-btn{
        font-family: 'Avenir LT Std 85 Heavy';
        font-size: 16px;
        background: #7CA8DC;
        text-align: center;
        color: white;
        border-radius: 40px;
        cursor: pointer;
        text-transform: none;
        padding: 15px 50px;
        height: 100%;
        box-shadow: none;
        margin: 0;
        z-index: 9;
        @media screen and (max-width: 959px) {
            padding: 10px 30px;
        }
    }
}



/* Popup CSS */

// placeholder scss
.auth input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.auth input::-moz-placeholder { /* Firefox 19+ */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.auth input:-ms-input-placeholder { /* IE 10+ */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.auth input:-moz-placeholder { /* Firefox 18- */
    color: $inputBlue !important;
    opacity: 1;
    font-family: 'Avenir LT Std 85 Heavy';
    font-size: 12px;
    letter-spacing: 2px;
}
.loginWrap{
    .v-btn.theme--light.orangeButton{
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}
.auth{
    background: rgba(238, 246, 255, 0.9) !important;
}
.v-dialog{
    .loginpopText{
        position: absolute;
        top:50%;
        left: -90px;
        bottom: 50%;
        transform: translateY(-50%);
        transform: rotate(-90deg);
        text-align: center;
        h2{
            font-family: 'Avenir LT Std 95 Black';
            text-transform: capitalize;
            font-size: 40px;
            color: $orange;
            margin-bottom: 18px;
            line-height: 40px;
        }
        h6{
            color: $darkblue;
            font-size:10px;
            font-family: 'Avenir LT Std 35 Light';
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
    .trialpopText{
        position: absolute;
        top: 60%;
        left:20%;
        bottom: 0;
        transform: translateY(-50%);
        width: 450px;   
        h2{
            font-family: 'Avenir LT Std 95 Black';
            font-size: 40px;
            color: $inputBlue;
            margin-bottom: 18px;
            line-height: 50px;
            letter-spacing: 1px;
        }
    }

    // Login popup
    .login{
        padding: 38px;
        border-radius: 20px;
        max-width: 412px;
        background: #fff;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 20px;
        box-shadow: 0 18px 54px $lightblueShadow;
        .smalllogo{
            position: absolute;
            left: -57px;
            top: 32px;
            width: 30%;    
            z-index: 9;
        }
        .v-form{
            margin-top: 60px;
            .container{
                padding-bottom: 0px;
                .forgotpass{
                    text-transform: capitalize; 
                    font-family: 'Avenir LT Std 65 Medium';
                    color: $orange;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 20px;
                }
                span{
                    margin: 0px auto;
                    font-family: 'Avenir LT Std 85 Heavy';
                    font-size: 14px;
                    color: $darkblue;
                    a{
                        color: $orange;
                        text-transform: capitalize;
                    }
                }
            }
            .orangeButton{
                border-radius: 5px;
                color: $white;
                letter-spacing: 2px;
                font-family: 'Avenir LT Std 95 Black';
                font-size: 11px;
                height: 63px;
                margin-bottom: 34px;
                margin-top: 0px;
                background-color: $orange;
                .v-btn__content{
                    line-height: 62px;
                }
                img{
                    margin-right: 11px;
                    width: 6%;
                }
            }
        }
        a{
            text-decoration: underline;
        }
        .theme--light.v-text-field--solo .v-input__slot{
            background-color: $inputBackgroundblue;
        }
        .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea{
            color: $inputBlue;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
            box-shadow: 0 7px 49px $lightshadow;
            border-radius: 5px;
            margin: 0px;
        }
        .email.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
            background-image: url('../../assets/images/email.png') !important;
            background-repeat: no-repeat!important;
            background-position: 95% 54% !important;
        }
        .password.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
            background-image: url('../../assets/images/password.png') !important;
            background-repeat: no-repeat!important;
            background-position: 95% 60% !important;
        }
        .v-text-field.v-text-field--solo .v-input__control{
            height: 63px;
        }
        .v-form>.container>.layout>.flex{
            margin-bottom: 30px;
            padding: 0px;
        }
        .v-text-field.v-text-field--enclosed .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details{
            padding:18px;
        }
        .v-text-field input{
            padding-right: 35px;
        }
        .v-btn:not(.v-btn--depressed):not(.v-btn--flat){
            box-shadow: none;
        }
    }

    // Trial popup 
    .trialPopup{
        left: 70%;
        .v-form{
            margin-top: 90px;
        }
        .email.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
            background-image: url('../../assets/images/email.png') !important;
            background-repeat: no-repeat!important;
            background-position: 95% 54% !important;
        }
        .name.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot{
            background-image: url('../../assets/images/name.png') !important;
            background-repeat: no-repeat!important;
            background-position: 95% 60% !important;
        }
    }
}
.cross-btn{
    position: absolute;
    z-index: 1001;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.numberBlock {
    position: relative;
    transform: translateX(-50%);
    left: 40%;
    top: 30%;
    width: 55%;
}
.numberCell {
    float: left;
    margin-right: 30px;
}
.number {
    font-size: 36px;
    font-family: 'Avenir LT Std 95 Black';
    color: $orange;
    display: block;
    margin: 0;
    line-height: 100%;
}
.numberTitle {
    font-size: 12px;
    font-family: 'Avenir LT Std 95 Black';
    color: $inputBlue;
    margin: 0;
}

.acceptanceTxt {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    p{
        font-family: 'Avenir LT Std 65 Medium';
        color: #748eac;
        font-size: 14px;
        margin: 20px 0;
        text-align: center;

        a{
            color: #ff6100;
            text-decoration: underline;


            &:hover {
                color: #333;
            }
        }
    }
}

// responsive
@media screen and (max-width: 1904px) and (min-width: 1264px){
    .v-dialog{
        .trialpopText{
            left: 15%;
        }
    }
}   
@media screen and (max-width: 1259px) and (min-width: 960px){
    .v-dialog{
        .trialPopup{
            left: 65%;
            right: 0;
        }
        .trialpopText{
            left: 7%;
            width: 400px;
        }
    }
} 
@media screen and (max-width: 959px) and (min-width: 600px){
    .v-dialog{
        .login {
            width: 65%;
        }
        .trialPopup {
            padding: 18px;
            width: 55%;
        }
        .trialpopText{
            left: 3%;
            top: 51%;
            width: 100px;
            h2{
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
} 
@media screen and (max-width: 599px) and (min-width: 320px){
    .v-dialog {
        .loginpopText{
            transform: none;
            left: 0;
            right: 0;
            top: 47px;
            h2{
                font-size: 30px;
                margin-top: 40px;
                margin-bottom: 0px;
            }
        }
        .trialpopText{
            width: 90%;
            text-align: center;
            top: 42%;
            left: 6%;
            right: 0;
            h2{
                font-size: 20px;
                line-height: 25px;
            }
        }
        .login{
            padding: 30px 14px 20px;
            width: 90%;
            .smalllogo{
                top: 0;
                left: 0;
            }
            .v-form {
                .container{
                    span{
                        font-size: 12px;
                        width: 100%;
                        text-align: center;
                    }
                } 
            }
            &.trialPopup{
                left: 50%;
                right: 0;
                width: 90%;
                .v-form {
                    margin-top: 50px;
                    .container > .layout > .flex{
                        margin-bottom: 20px;
                    }
                    .orangeButton{
                        margin-bottom: 0;
                    }
                }
            }
        }
        
    }
}
